.header {
  display: flex;
  justify-content: flex-start;
  height: 40px;

  @media only screen and (max-width: 320px) {
    padding: 10px 20px;
  }
  @media only screen and (min-width: 321px) and (max-width: 480px) {
    padding: 10px 25px;
  }
  @media only screen and (min-width: 481px) {
    padding: 10px 80px;
  }

  .siteLogo {
    max-width: 100px;
    top: 2px;
    left: -5px;

    .logoLink {
      .logo {
        width: 100%;
      }
    }
  }
}
